
    <app-navbar></app-navbar>
  
    <section class="mt-5">
  
      <div class="row">
        <div class="col-6 imag"><img src="../../../../assets/image/1.png" class="img-fluid" alt="..."></div>
        <div class="col-4 mt-5">
          <h2 class="color font mt-5">Les chocolats des fêtes</h2>
          <p class="mt-5">La chasse aux œufs commence Découvrez des maintenant toutes nos offres les plus
            gourmandes sur les chocolats de paque a travers les different . </p>
          <button type="button" class="btn btn-warning mt-4">Decouvrire</button>
        </div>
      </div>
  
    </section>
  
  
  
  
    <section class="choix ">
      <div class=" h3 ">
        <h3>Laissez-vous tenter par nos délicieux chocolats</h3>
      </div>
  
      <div class="row row-cols-1 row-cols-md-2 g-4">
  
        <div class="col mt-5 center">
          <div class="cards right">
            <img src="../../../../assets/image/2.jpeg" class="card-img-top img-fluid image" width="500px" alt="...">
            <div class="card-body">
              <h5 class="card-title font">Golden chocolate</h5>
            </div>
          </div>
        </div>
        <div class="col mt-5 center">
          <div class="cards left">
            <img src="../../../../assets/image/3.jpeg" class="card-img-top img-fluid image" alt="...">
            <div class="card-body">
              <h5 class="card-title font">Personalised </h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="choix2  ">
      <div class="container  ">
        <div class="row">
          <div class="col-9 coff">
            <div class="card   ">
              <div class="card-body ">
                <h5 class="card-titles">COFFRETS PERSONNALISER</h5>
                <p class="card-text">Composez un délicieux coffret personnalisé
                  pour Pâques Bouchées de chocolat ,mini-œufs,
                  mini Lapin OR…
                  Composez votre coffret unique et savoureux
                  pour les petits et grands gourmands ! </p>
                <button type="button" class="btn btn-warning mt-4">Decouvrire</button>
              </div>
            </div>
            <div class="img-cof">
  
              <img class="img-fluid imge " src="../../../../assets/image/4.jpeg" alt="">
            </div>
          </div>
  
        </div>
  
      </div>
    </section>
    
  <app-footer></app-footer>
 
